
@{
    ViewBag.Title = "Correctoxd";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>MASCOTA REGISTRADA CORRECTAMENTE</h2>

@Html.ActionLink("Listado de Mascotas", "listadoMascota", "Mascota")
<hr />


@Html.ActionLink("Registra una Mascota", "registrarMascota")
<hr />

@Html.ActionLink("Inicio", "IndexUsuario")