body {
}

.lisProdu {
    width: 48%;
    height: 380px;
    padding: 5px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.listIma {
    float: left;
    margin-right: 10px;
    width: 240px;
    height: 360px;
}

.lisImape {
    width: 40px;
    height: 60px;
}

#columna1 {
    margin: 0px;
    float: left;
    width: 58%;
    padding: 5px;
}

#columna2 {
    margin: 0px;
    float: left;
    width: 40%;
    padding: 5px;
}
.bloque {
    width: 24%;
    height: 450px;
    float: left;
    margin: 5px;
    text-align: center;
}

.imgArt {
    width: 90%;
    height: 300px;
    float: left;
    margin-left: 10px;
    border-color: #1849AB;
    border-radius: 5px;
    border: 2px groove;
    border-width: 3px;
}

.imgPro {
    width: 1700%;
    height: 370px;
    margin-left: -180px;
    padding: 1px;
    border-radius: 10px;
}

#registroIzq {
    float: left;
    width: 30%;
}

#registroDer {
    float: right;
    width: 70%;
}

#columna1 {
    margin: 0px;
    float: left;
    width: 58%;
    padding: 5px;
}

#columna2 {
    margin: 0px;
    float: left;
    width: 40%;
    padding: 5px;
}

#imgProPeq {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.dato {
    margin: 5px;
}